APP_TARGET_NAME=iOSBlanky
APP_NAME=iOSBlanky
APP_BUNDLE_ID=com.levibostian.iosblanky

API_ENDPOINT=https://api.github.com

# options: true, false
DEVELOPMENT=true

# fastlane 
APPLE_APP_ID=1234 
MATCH_GIT_REPO=git@github.com:username/AppName-iOS-certs.git

# options: 'no', 'beta', 'alpha'
APP_ICON_BADGE=beta